@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;

}

body {
    background-color: #FBF7F3;
}

header {
    display: flex;
    justify-content: space-around;
    gap: 45vw;
    background-color: #FBF7F3;
    height: 75px;
    align-items: center;

}

.nameLogo {
    font-weight: 600;
    font-size: 22px;
    margin: 20px;
}

.navBar {
    display: flex;
    justify-content: space-around;
    background-color: #e3e3e3;
    width: 800px;
    height: 50px;
    align-items: center;
    border-radius: 50px;

}

nav {
    display: flex;
    gap: 15px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;

}

.but {
    background-color: #7140EB;
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.firstBlock {
    background: url(img/phoneFirstBlock.png) center / contain no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;

}

.infoFirst {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

.firstBlock>.infoFirst>img {
    width: 600px;
    height: 600px;
}

h2 {
    color: #49464F;
    font-size: 40px;
}

.secondBlock {
    padding: 5 0px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bikeSecondBlock {
    display: flex;
    align-items: center;
}

h3 {
    color: #8172A2;
    font-size: 20px;
    font-weight: 500;
}

.liBikeSecond {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftBikeSecond {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.threeBlock {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upThreeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardChoiceBike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 320px;
    height: 210px;
}

.cardChoiceBike>img {
    width: 320px;
    height: 210px;
}

h4 {
    color: #2E2C34;
    font-size: 25px;
    font-weight: 500;
}

h5 {
    color: #49464F;
    font-size: 20px;
    font-weight: 500;
}

.allCardChoiceBike {
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.mapBlock {
    margin: 100px;
    background: url(img/map.png) center / contain no-repeat;
    height: 850px;
    text-align: center;
    padding: 100px;
}

.repairBlock {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 100px;
}

.cardRepair {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 20px;
    text-align: center;
}

.allCardRepair {
    display: flex;
    gap: 50px;
}


.textLastBlock {

    display: flex;
    flex-direction: column;
    gap: 20px;
}


.lastBlock {
    background-color: #F7F0EA;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #F8F8F8;
    display: flex;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
}




.allLinkFooter {
    display: flex;
    gap: 150px;
}

.linkFooter {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.leftFooter {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}

.repairFB {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repairFB>img {
    width: 600px;
}

.textTitle {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.titleRepairCard {
    font-size: 18px;
    font-weight: 500;
}

.repairCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 270px;
    background-color: #fff;
    padding: 20px;
}

.descriptionInfoRepairCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7140EB;
    width: 75px;
    height: 25px;
    border-radius: 10px;
}

.infoRepairCard {
    display: flex;
    justify-content: space-between;
}

.upAllRepairCard {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.allRepairCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.repairSB {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.repairTB {
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.repairTB>div>img {
    width: 15%;
}

.repairTB>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newsFB {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.newsSB {
    padding: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.newsSB>div {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.newsSB>div>img {
    width: 350px;
    height: 200px;
}

.news {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.newsCard {
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    cursor: pointer;
    border: 2px solid #000;
    padding-bottom: 15px;
}

.newsCard>img {
    width: 400px;
}

.newsAllCard {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1199px) {

    header {
        gap: 100px;
    }


    .navBar {
        justify-content: space-around;

    }

    .firstBlock {
   
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;

    }

    .infoFirst {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
    }

    h1 {
        font-size: 42px;
        font-weight: 600;
    }

    .firstBlock>.infoFirst>img {
        width: 600px;
        height: 600px;
    }

    h2 {
        color: #49464F;
        font-size: 40px;
    }


}